*{
    border: 2px solid grey;
}

.mainSection{
    margin:2%;
}

.welcome{
    display: inline-block;
    text-align: center;
    margin: 5%;
    width: 50%;
}


nav{
    text-align:center;
}
nav a{
    display:inline-block;
    margin: 2% 10%;
}
a{
    text-decoration: none;
    padding:0.3rem 1rem;
    border-radius:10%;

}

.planVisit{
    background:#FF764E;
}

.learn{
    background: #5ED3EB;

}

.getInvolved{
    background: #FFCD69;

}

.headerImage{
    display: inline-block;
    border-radius: 50%;
    width: 20%;
    margin:5%;
}

footer{
    width: 100%;
}

